CLOUDFLARE_ENV=dev
PUBLIC_URL=http://localhost:5173

# Auth (Better-Auth)
AUTH_SECRET=

# Cloudflare
CLOUDFLARE_ACC_ID=

# Storage (R2)
STORAGE_BUCKET_NAME=
STORAGE_ENDPOINT=
STORAGE_KEY_ID=
STORAGE_SECRET_KEY=